body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    background-size: cover;
    background-position: center;
    height: 100vh;

}

nav {
    margin: 0;
    display: flex;
    justify-content: space-evenly;


}

nav a {
    background-color: goldenrod;
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: black;

}
nav a:hover {
    background-color: brown;
}

.overviewTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    width: 100%;
}

.overviewTable thead tr {
    background-color: goldenrod;
    color: black;
    text-align: center;
}

.overviewTable th, .overviewTable td {
    padding: 12px 15px;
}

.overviewTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.overviewTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.overviewTable tbody tr:last-of-type {
    border-bottom: 2px solid #2779c2;
}

.overviewTable tbody tr td {
    text-align: center;
}